.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--space-lg);
    padding-right: var(--space-6xl);
    padding-bottom: var(--space-lg);
    padding-left: var(--space-6xl);
    background-color: var(--color-bg-canvas);
}

.logo {
    display: block;
    width: min(100%*378/1816, 378px);
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);
    list-style-type: none;
}
