#map-container {
    position: relative;
    width: 100%;
    height: auto;

    padding-right: var(--space-6xl);
    padding-left: var(--space-6xl);
}

.map {
    position: relative;
    width: min(100%, 1816px);
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.world-map {
    width: 100%;
    aspect-ratio: 227 / 110;

    display: block;
    background-color: var(--color-map-base);

    mask: var(--map-image) center / contain no-repeat;
    -webkit-mask: var(--map-image) center / contain no-repeat;
}
